body{
    background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 1));
}

/* Tela de Confirmação */
.secao-fundo{

    margin: auto;
    background-color: #D9D9D9;
    height: 497px;
    width: 871px;
    border-radius: 20px;
}

.info-confirmacao{
    font-size: 2rem;
    display: flex;
    color: #000;
    font-weight: 500;
    justify-content: space-between;
    margin: 110px;
    padding: 10px;
    font-family: 'Geologica';
}

.div-botoes{
    font-size: 2rem;
    display: flex;
    color: #000;
    font-weight: 500;
    justify-content: space-between;
    margin: 120px;
    padding: 10px;
    font-family: 'Geologica';
}

.botao{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px; 
    border-radius: 10px;
}

.botao-preto{
    background-color: #000;
    padding-left: 70px;
    padding-right: 70px;
}

.botao-preto:hover{
    color:#A9A9A9;
    background-image: #333333;
    cursor: pointer;
}

.botao-dourado{
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
}

.botao-dourado:hover{
    color: #ff9d00;
    background-image: linear-gradient(to left, #000, #333333, #000) ;
    cursor: pointer;
}