body{
    background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 1));
}

/* Tela de Confirmação */
.secao-fundo{
    margin: auto;
    background-color: #000000;
    height: 550px;
    width: 871px;
    border-radius: 20px;
    border: 1px solid #ff9d00;
}

.info-confirmacao{
    font-size: 2rem;
    display: flex;
    color: #ffffff;
    font-weight: 500;
    justify-content: space-between;
    margin: 110px;
    padding: 10px;
    font-family: 'Geologica';
}

.div-botoes{
    font-size: 2rem;
    display: flex;
    color: #000;
    font-weight: 500;
    justify-content: space-between;
    margin: 120px;
    padding: 10px;
    font-family: 'Geologica';
    position: relative;
    bottom: 50px;
}

.botao{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px; 
    border-radius: 10px;
}

.botao-preto{
    background-color: #000;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #A9A9A9;
}

.botao-preto:hover{
    color:#A9A9A9;
    background-image: #333333;
    cursor: pointer;
}

.botao-dourado{
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
}

.botao-dourado:hover{
    color: #ffffff;
    background-image: linear-gradient(#a76905);
    cursor: pointer;
}