@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Instrument+Sans:wght@400..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family:Arial,sans-serif;
    background:black;
    flex-direction: column;
    display: flex;
}

header{
    width:100%;
    padding:10px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.75);
    backdrop-filter:blur(10px);
    position:fixed;
    top:0;
    z-index:1000;
}

main{
    flex: 1;
}

.logo{
    width:70px;
    border-radius:50%;
}

footer{
    background-color: #ff9d00;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}