@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Instrument+Sans:wght@400..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family:Arial,sans-serif;
    background:black;
}

header{
    width:100%;
    padding:10px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.75);
    backdrop-filter:blur(10px);
    position:fixed;
    top:0;
    z-index:1000;
}

.logo{
    width:70px;
    border-radius:50%;
}

.menu{
    display:flex;
    gap:40px;
    margin-left: 80px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-family:"Instrument Sans",sans-serif;
    transition:0.3s;
}

.menu a:hover{
    color:#ff9d00;
}

.HeadCont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.HeadCont img{
    width: 30px;
    height: 30px;
}

.HeadCont .nome {
    color: white;
    font-size: 15px;
    font-family: "Instrument Sans",sans-serif;
}

.HeadCont .email-nome {
    color: #989797;
    font-size: 13px;
    font-family: "Instrument Sans",sans-serif;
}

.hero{
    width:100%;
    height:100vh;
    background-image: url(../imagens/logos/imagem-atualizada.png);
    background-size:cover;
    background-position:right;
    background-repeat:no-repeat;
    position:relative;
    display:flex;
    align-items:center;
    padding-left:100px;
    overflow:hidden;
}

.usuario a{
    text-decoration:none;
    color:white;
    font-size:16px;
    font-family:"Instrument Sans",sans-serif;
    transition:0.3s;
}

.conteudo{
    position:relative;
    top: 50px;
    z-index:2;
    max-width:650px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

h1{
    color:#ffffff;
    font-size: 65px;
    width: 500px;
    line-height: 1.0;
    font-family:"Cormorant Garamond",serif;
    font-weight:700;
}

span {
    color: #ff9d00;
}

h2 {
    color: #d9d9d9;
    font-size: 20px;
    width: 500px;
    font-weight: 100;
}

.traco {
    width: 45px;
    height: 3px;
    background: #ff9d00;
    border-radius: 2px;
}

h5{
    color:white;
    font-size:22px;
    line-height:1.6;
    max-width:550px;
    font-family:"Geologica",sans-serif;
    font-weight:400;
}

.btn{
    display: flex;
    width:fit-content;
    padding:14px 30px;
    border:none;
    border-radius: 8px;
    background:#ff9d00;
    color:black;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    text-align: center;
}
.btn p {
    position: relative;
    top: 6px;
    right: 8px;
}

.btn img {
    position: relative;
    top: 3px;
    left: 4px;
}

.btn:hover{
    transform:translateY(-3px);
    background:#ffb733;
}

.btn a {
    text-decoration: none;
    color: black;
}

.beneficios {
    padding: 0px 70px;
    display: flex;
    margin-top: 40px;
    gap: 60px;  
}

.b01 {
    display: flex;
}

.divisor {
    padding: 5px 20px;
}

.b01 img {
    width: 38px;
    height: 38px;
    position: relative;
    top: 15px;
}

.b01 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b01 p {
    color: #989797;
    width: 150px;
}

.b02 {
    display: flex;
}

.b02 img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 17px;
}

.b02 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b02 p {
    color: #989797;
    width: 190px;
}

.b03 {
    display: flex;
}

.b03 img {
    width: 45px;
    height: 45px;
    position: relative;
    top: 15px;
}

.b03 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b03 p {
    color: #989797;
    width: 170px;
}

.b04 {
    display: flex;
}

.b04 img {
    width: 45px;
    height: 45px;
    position: relative;
    top: 15px;
}

.b04 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b04 p {
    color: #989797;
    width: 190px;
}

.main-2 {
    background-color: rgba(22, 21, 21, 0.75);
}

.titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo h1 {
    width: 550px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.titulo .paragra {
    color: #ff9d00;
    font-size: 19px;
    font-weight: 600;
    margin-top: 80px;
}

.titulo .titulo-paragrafo {
    color: #989797;
    font-size: 20px;
    width: 400px;
    margin-top: 25px;
}

.recursos-beneficios {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 80px;
}

.recursos-beneficios h4 {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.recursos-beneficios p {
    color: #989797;
    font-size: 16px;
    margin-top: 10px;
}

.recurso-1 img{
    width: 80px;
    border: 1px solid;
    padding: 18px;
    border-radius: 25px;
    background-color: rgb(31, 30, 30);
    margin-bottom: 15px;
}

.recurso-2 img{
    width: 80px;
    border: 1px solid;
    padding: 18px;
    border-radius: 25px;
    background-color: rgb(31, 30, 30);
    margin-bottom: 15px;
}

.recurso-3 img{
    width: 80px;
    border: 1px solid;
    padding: 18px;
    border-radius: 25px;
    background-color: rgb(31, 30, 30);
    margin-bottom: 15px;
}

.recurso-4 img{
    width: 80px;
    border: 1px solid;
    padding: 18px;
    border-radius: 25px;
    background-color: rgb(31, 30, 30);
    margin-bottom: 15px;
}

.recurso-1  {
    text-align: center;
    width: 200px;
}

.recurso-2  {
    text-align: center;
    width: 200px;
}

.recurso-3  {
    text-align: center;
    width: 200px;
}

.recurso-4  {
    text-align: center;
    width: 200px;
}

.comecar-agora {
    display: flex;
    border: 1px solid rgb(31, 30, 30);
    background-color: rgb(31, 30, 30);
    padding: 16px 20px;
    border-radius: 10px;
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.comecar-agora img {
    border: 1px solid rgb(31, 30, 30);
    padding: 18px;
    border-radius: 40px;
    background-color: rgba(46, 46, 46, 0.781);
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.comecar-agora .p1 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    top: 15px;
}

.comecar-agora .p2 {
    font-size: 15px;
    color: #cccccc;
}

.conteudo-comecar {
    margin-left: 20px;
}

.link {
    display: flex;
    gap: 200px;

}

.link p {
    padding-top: 20px;
}

.link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border: 1px solid rgba(31, 30, 30, 0);
    padding: 12px 24px;
    background-color: #ff9d00;
    border-radius: 8px;
    margin-left: 150px;
    margin-bottom: 8px;
}

.link a:hover {
    transform:translateY(-5px);
    background:#ffb733;
    transition:0.3s;
}

.main-3 {
    background-color: rgba(22, 21, 21, 0.75);
}

.titulo .paragra {
    color: #ff9d00;
    font-size: 19px;
    font-weight: 600;
    margin-top: 120px;
}

.titulo .p2 {
    font-size: 20px;
    color: #989797;
    font-weight: 400;
    margin-top: 20px;
    width: 350px;
}

.opcoes-planos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.basico {
    border: 1px solid #4f4e4e;
    background-color: rgb(31, 30, 30);
    padding: 25px 35px;
    border-radius: 10px;
    width: 350px;
}

.basico:hover {
    border: 1px solid #ff9d00;
    transition: 0.3s;
    transform:translateY(-5px);
}

.titulo-basico h2 {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.titulo-basico p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
    width: 180px;
}

.separador {
    margin-top: 20px;
    width: 250px;
    height: 1px;
    background: #4f4e4e;
    border-radius: 2px;
}

strong {
    color: white;
    font-size: 45px;
}

.valor p {
    color: white;
    font-size: 22px;
}

.valor ul {
    margin-top: 12px;
    list-style: none;
}

.valor li {
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

.linha {
    display: flex;
}

.linha img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    position: relative;
    top: 9px;
}


.botao-plano a{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: #ff9d00;
    border: 1px solid #ff9d00;
    padding: 12px 24px;
    border-radius: 10px;
}

.botao-plano a:hover {
    background: #ff9d00;
    color: black;
    transition: 0.3s;
}

/* Plano profissional */

.profissional {
    border: 1px solid #4f4e4e;
    background-color: rgb(31, 30, 30);
    padding: 2px 35px;
    border-radius: 10px;
    width: 350px;
}

.profissional:hover {
    border: 1px solid #ff9d00;
    transition: 0.3s;
    transform:translateY(-5px);
}

.mais {
    background-color: #ff9d00;
    margin: auto;
    text-align: center;
    width: 180px;
    padding: 1px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mais p {
    color: black;
    text-align: center;
    position: relative;
    bottom: 4px;
    right: 28px;
}


.titulo-profissional h2 {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.titulo-profissional p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    width: 220px;
}

/* Plano avançado */

.avancado {
    border: 1px solid #4f4e4e;
    background-color: rgb(31, 30, 30);
    padding: 25px 35px;
    border-radius: 10px;
    width: 350px;
}

.avancado:hover {
    border: 1px solid #ff9d00;
    transition: 0.3s;
    transform:translateY(-5px);
}

.titulo-avancado h2 {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.titulo-avancado p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
    width: 250px;
}


.main-contato {
    background-color: rgba(22, 21, 21, 0.75);
    display: flex;
    justify-content: center;
    padding: 150px 0px;

}

.contato p {
    color: #ff9d00;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contato h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contato .prontos {
    color: #989797;
    font-size: 14px;
    width: 400px;
}

.contato .prontos-1 {
    color: #989797;
    font-size: 14px;
    width: 400px;
    position: relative;
    bottom: 8px;
}

.aonde-encontrar {
    display: flex;
    gap: 30px;
}

.endereco img {
    width: 40px;
    height: 40px;
}

.endereco .endereco-titulo {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.endereco p {
    color: #989797;
    font-size: 14px;    
    text-align: center;
    position: relative;
    right: 80px;
    width: 200px;
}

.telefone img {
    width: 40px;
    height: 40px;
}

.telefone .telefone-titulo {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.telefone p {
    color: #989797;
    font-size: 14px;    
    text-align: center;
    position: relative;
    right: 80px;
    width: 200px;
}

.email img {
    width: 40px;
    height: 40px;
}

.email .email-titulo {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.email p {
    color: #989797;
    font-size: 14px;
    text-align: center;
    position: relative;
    right: 80px;
    width: 200px;
}

.horario img {
    width: 40px;
    height: 40px;
}

.horario .horario-titulo {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.horario p {
    color: #989797;
    font-size: 14px;
    text-align: center;
    position: relative;
    right: 80px;
    width: 200px;
}

footer {
    background-color: #ff9d00;
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

@media(max-width:900px){

    .hero{
        padding:40px;
        justify-content:center;
        text-align:center;
    }

    .conteudo{
        align-items:center;
    }

    h1{
        font-size:52px;
    }

    h5{
        font-size:18px;
    }

    .menu{
        display:none;
    }

    header{
        padding:15px 25px;
    }
}