* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000 55%, #616161 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
    display: flex;
    justify-content: left;
    padding: 10px;
    gap: 100px;

}

h1 {
    color: #ff9d00;
    font-weight: bold;
    font-size: 65px;
    font-family: "Cormorant Garamond", sans-serif;
    
}

h2 {
    color: #D9D9D9;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h5 {
    color: #D9D9D9;
    font-size: 16px;
    position: relative;
    left: 14%;
    top: 40px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: left;
    top: 100px;
    align-items: center;
}

.HeadCont {
    display: flex;
    align-items: center;
    margin-left: 60%;
    gap: 100px;
    font-size: 23px;
}

.h4ent {
    color: #D9D9D9;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px;
    background-color: #000;
}

.logo { 
    width: 70px;
    border-radius: 40px;
    margin-left: 2%;
}

.homebarber {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 12px;
    width: 500px;
    height: 600px;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 400px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: 10px;
    right: 15%;
    gap: 40px;
}

.sobnos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 4%;
    padding-left: 9%;
}

.conteudo1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    color: #D9D9D9;
}

/*tela login*/

.Header-login {
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
    display: flex;
    justify-content: left;
    padding: 10px;
    gap: 100px;
    position: fixed;
    width: 100%;
    top: 0;
}

.body-login {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000 55%, #616161 100%); 
    justify-content: center;
    align-content: center;   
}

.main-login {
    text-align: center;
    border: #f6f1f0 solid 12px;
    width: 500px;
    height: 520px;
    background-color: #f6f1f0;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-login {
    color: black;
    font-size: 43px;
    font-weight: 550;
    padding-top: 30px;
}

.paragrafo-login {
    font-size: 20px;
    color: #696969;
    padding-top: 20px;
}

input {
    font-size: 18px;
    color: #696969;
    background-color: white;
    border: #D9D9D9 solid 2px;
    border-radius: 40px;
    width: 350px;
    padding: 16px 20px;   
    margin-top: 20px;    
    margin-left: 0px;      
}

.cadastro-login {
    margin-top: 1px;
}

.esqueci-login {
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
    padding-right: 170px;
}

.continuar-login {
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
    width: 230px;
    height: 45px;
    border: #a76905;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-size: 22px;
}

.continuar-login:hover{
    border: #a76905 solid 3px;
    color: #ffffff;
    background-image: none;
    background-color: #000;
}

.botaoPreto{
    background-color: #000;
    width: 230px;
    height: 45px;
    border: #a76905;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-size: 22px;
}

.divider-login {
    margin: 15px;
    font-size: 19px;
    font-weight: 500;
}

.continuar-com-login {
    border: white solid 2px;
    border-radius: 15px;
    width: 340px;
    margin: 0 auto;
    background-color: white;
}

.google-login {
    display: flex;
    border-radius: 40px;
    border: white;
    background-color: white;
    width: 45px;
    padding: 10px;
    margin-left: 40px;
}

.continuar-com-google {
    white-space: nowrap;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 4px;
}


