* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/imagens-login/tela-fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    padding: 40px 50px;
}

header img {
    width: 80px;
    height: 80px;
}

main {
    border: 1px solid #9897973e;
    width: 440px;
    height: 740px;
    background-color: #111111;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.bemvindo h1 {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

.bemvindo span {
    color: #ff9d00;
}

.bemvindo p {
    color: #989797;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
}

.formulario img {
    width: 17px;
    height: 17px;
    position: relative;
    left: 54px;
    top: 24px;
}

.formulario .telfone-img {
    width: 18px;
    height: 20px;
    position: relative;
    left: 54px;
    top: 24px;
}

.senha {
    display: flex;

}

.senha img {
    width: 22px;
    height: 22px;
    position: relative;
    left: 51px;
    top: 20px;
}

.input-1 {
    display: block;
    font-size: 14px;
    width: 85%;
    height: 50px;
    margin: 8px 15px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #98979732;
    background-color: #171717;
    color: rgb(229, 229, 229);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-2 {
    display: block;
    font-size: 14px;
    width: 85%;
    height: 50px;
    margin: 8px 10px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #98979732;
    background-color: #171717;
    color: rgb(229, 229, 229);
}

.confirmar-termos {
    display: flex;
    align-items: center;
    padding: 10px 42px;
}

.confirmar-termos input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.confirmar-termos p {
    color: #989797;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.confirmar-termos strong {
    color: #ff9d00;
}

.confirmar-termos strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

#alerta{
    color: #ce0c0c;
    text-align: center;
    margin-top: 5px;
    font-family: 'Instrument Sans', sans-serif;
}

.botao-entrar {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.botao-entrar a {
    border: 1px solid #ff9d00;
    padding: 15px 145px;
    border-radius: 5px;
    color: #ff9d00;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.botao-entrar a:hover {
    background-color: #ff9d00;
    color: #111111;
}

.ou {
    text-align: center;
    color: #989797;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

.google {
    display: flex;
    justify-content: center;
    border: 1px solid #313131;
    margin: 20px auto;
    width: 80%;
    padding: 12px 0;
    border-radius: 5px;
}

.google:hover {
    background-color: #313131;
    cursor: pointer;
}

.google img {
    width: 20px;
    position: relative;
    margin-right: 12px;
}

.google p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.entrar {
    text-align: center;
    color: #989797;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.entrar a {
    color: #ff9d00;
    text-decoration: none;
}

.entrar a:hover {
    text-decoration: underline;
}

.senha {
    position: relative;
    width: 415px;
}

.senha input {
    width: 100%;
    padding: 20x;
    padding-right: 40px;
}

.senha span {
    position:absolute;
    padding: 20px; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9ca3af;
    cursor: pointer;
}
