body{
    background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 1));
}

.botao-voltar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 60px;
    border: 1px solid transparent;
    padding: 1px 14px 16px 16px;
    border-radius: 12px;
    transition: 0.2s;
}

.botao-voltar:hover {
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
}

.botao-voltar img {
    position: relative;
    right: 2px;
    top: 5px;
    width: 24px;
}

.botao-voltar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    top: 6px;
}

/* Tela Horários */
.telaServico{
    margin-top: 100px;
    background-color: #0c0c0c;
    border: 1px solid #ff9d00;
    width: 500px;
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
}

.containerServico{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
}

.bloco-horario{
    border-bottom: 2px solid #ff9d00;
}

.bloco-horario h2{
    margin-bottom: 20px;
    color: #ccc;
}

.bloco-manha, .bloco-tarde, .bloco-noite{
    margin-left: 50px;
}

.bloco-manha ul, .bloco-tarde ul, .bloco-noite ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

.bloco-horario a, .dia{
    text-decoration: none;
    color: #ffffff;
    background-color: #000;
    border: 2px solid #ff9d00;
    border-radius: 10px;
    padding: 10px;   
    transition: 0.3s; 
    cursor: pointer;
}

.bloco-horario a:hover{
    background-color: #838383;
    color: #000;
}

/* Carrossel de datas */
.linha_horario{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    border-top: 2px solid #ff9d00;
    margin-top: 20px;
    padding: 20px;
}

#bntA, #bntP{
    font-size: 20px;
    color: #000;
    background-color: #ff9d00;
    border: 2px solid #ff9d00;
    border-radius: 10px;
    padding: 10px;    
}

#linkA{
    position: absolute;
}

#linkP{
    display: flex;
    justify-self: end;
    position: absolute;
}

.carrossel{
    display: flex;
    width: 800%;
    margin: auto;
}

.semana{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.selecionado{
    color: #000;
    background-color: #ff9d00;
}

a{
    text-decoration: none;
}

input{
    font-size: 20px;
    color: #ff9d00;
    background-color: #000;
    border-radius: 20px;
    border: 2px solid #FFA726;
    transition: 0.3s;
}

input:hover{
    background-color: #ccc;
    color: #000;
    border-color: #ccc;
}