* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000 55%, #616161 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}

header {
    background-image: linear-gradient(to left, #a76905, #ff9d00, #a76905);
    display: flex;
    justify-content: left;
    padding: 10px;
    gap: 100px;

}

h1 {
    color: #ff9d00;
    font-weight: bold;
    font-size: 65px;
    font-family: "Cormorant Garamond", sans-serif;
    
}

h2 {
    color: #D9D9D9;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

h5 {
    color: #D9D9D9;
    font-size: 16px;
    position: relative;
    left: 14%;
    top: 40px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: left;
    top: 100px;
    align-items: center;
}

.HeadCont {
    display: flex;
    align-items: center;
    margin-left: 60%;
    gap: 100px;
    font-size: 23px;
}

.h4ent {
    color: #D9D9D9;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px;
    background-color: #000;
}

.h4ent:hover{
    color:#A9A9A9;
    background-image: #333333;
    cursor: pointer;
}

.logo { 
    width: 70px;
    border-radius: 40px;
    margin-left: 2%;
}

.homebarber {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 5%;
    margin-left: 12%;
    border-radius: 12px;
    width: 500px;
    height: 600px;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 400px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    top: 10px;
    right: 15%;
    gap: 40px;
}

.sobnos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 4%;
    padding-left: 9%;
}

.conteudo1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    color: #D9D9D9;
}

/* Tela Horários */
.telaServico{
    background: linear-gradient(to left, #a76905, #ff9d00, #a76905);
    width: 350px;
    height: 150px;
    margin-left: 200px;
    margin-top: 50px;
    align-content: space-between;
    border-radius: 20px; 
    margin-bottom: 100px;
}

.containerServico{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.linha_horario{
    width: 90%;
    margin-left: 5%;
}

.anterior_proximo{
    color: #ffffff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.img_arrow{
    width: 50px;
    height: 50px;
}

.bloco-horario{
    width: 90%;
    flex-direction: column;
    display: flex;
    margin-left: 100px;
    margin-bottom: 200px;
    gap: 50px;
}

ul{
    flex-direction: row;
    display: flex;
    list-style-type: none;
}

li{
    margin-top: 20px;
    margin-right: 40px;
    font-size: 20px
}

li a{
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ff9d00;
    border-radius: 15px;
    background-color: #000;
    padding: 10px;
}

li a:hover{
    background-color: #282828;
}