@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Instrument+Sans:wght@400..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

body{
    font-family:Arial,sans-serif;
    background:black;
}

header{
    width:100%;
    padding:10px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.75);
    backdrop-filter:blur(10px);
    position:fixed;
    top:0;
    z-index:1000;
}

.logo{
    width:70px;
    border-radius:50%;
}

.menu{
    display:flex;
    gap:40px;
    margin-left: 80px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-family:"Instrument Sans",sans-serif;
    transition:0.3s;
}

.menu a:hover{
    color:#ff9d00;
}

.HeadCont{
    display:flex;
    align-items:center;
    gap:20px;
}

.h4ent{
    color:white;
    text-decoration:none;
    padding:12px 24px;
    border-radius:30px;
    transition:0.3s;
}

.h4ent:hover{
    border:1px solid white;
}

.h4ent-borda{
    color:#ff9d00;
    text-decoration:none;
    border:1px solid #ff9d00;
    padding:12px 24px;
    border-radius:30px;
    transition:0.3s;
}

.h4ent-borda:hover{
    background:#ff9d00;
    color:black;
}

.hero{
    width:100%;
    height:100vh;
    background-image: url(../imagens/logos/imagem-atualizada.png);
    background-size:cover;
    background-position:right;
    background-repeat:no-repeat;
    position:relative;
    display:flex;
    align-items:center;
    padding-left:100px;
    overflow:hidden;
}

.conteudo{
    position:relative;
    top: 50px;
    z-index:2;
    max-width:650px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

h1{
    color:#ffffff;
    font-size: 65px;
    width: 500px;
    line-height: 1.0;
    font-family:"Cormorant Garamond",serif;
    font-weight:700;
}

span {
    color: #ff9d00;
}

h2 {
    color: #d9d9d9;
    font-size: 20px;
    width: 500px;
    font-weight: 100;
}

.traco {
    width: 45px;
    height: 3px;
    background: #ff9d00;
    border-radius: 2px;
}

h5{
    color:white;
    font-size:22px;
    line-height:1.6;
    max-width:550px;
    font-family:"Geologica",sans-serif;
    font-weight:400;
}

.btn{
    display: flex;
    width:fit-content;
    padding:14px 30px;
    border:none;
    border-radius: 8px;
    background:#ff9d00;
    color:black;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    text-align: center;
}
.btn p {
    position: relative;
    top: 6px;
    right: 8px;
}

.btn img {
    position: relative;
    top: 3px;
    left: 4px;
}

.btn:hover{
    transform:translateY(-3px);
    background:#ffb733;
}

.btn a {
    text-decoration: none;
    color: black;
}

.beneficios {
    padding: 0px 70px;
    display: flex;
    gap: 60px;
    margin-top: 40px;
}

.b01 {
    display: flex;
}

.divisor {
    padding: 5px 20px;
}

.b01 img {
    width: 38px;
    height: 38px;
}

.b01 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b01 p {
    color: #989797;
    width: 150px;
}

.b02 {
    display: flex;
}

.b02 img {
    width: 35px;
    height: 35px;
}

.b02 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b02 p {
    color: #989797;
    width: 190px;
}

.b03 {
    display: flex;
}

.b03 img {
    width: 45px;
    height: 45px;
}

.b03 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b03 p {
    color: #989797;
    width: 170px;
}

.b04 {
    display: flex;
}

.b04 img {
    width: 45px;
    height: 45px;
}

.b04 .subtitulo {
    color: white;
    width: 100px;
    margin-bottom: 8px;
}

.b04 p {
    color: #989797;
    width: 190px;
}

@media(max-width:900px){

    .hero{
        padding:40px;
        justify-content:center;
        text-align:center;
    }

    .conteudo{
        align-items:center;
    }

    h1{
        font-size:52px;
    }

    h5{
        font-size:18px;
    }

    .menu{
        display:none;
    }

    header{
        padding:15px 25px;
    }
}